input[type='text'],input[type='tel'],textarea{-webkit-appearance: none;}
p.attr {background: #efefef;margin-bottom: 15px;padding: 10px 0px;text-align: center;}
span.newstime {display: block;width: 64px;color: #999;font-size: 12px;text-align:center;line-height: 120%;margin-top: 8px;}
.media-left, .media>.pull-left img{/*width:64px; */height: 64px;}
.tabNav_topfixed{height: 42px;width: 100%;overflow: visible !important;background: #f1f1f1;position: fixed;top: 0px;z-index: 10;border-bottom: 1px solid #ddd; text-align: center;}
.tabNav_topfixed .nav-tabs { border-bottom: none; display: inline-block;}
/*swiper*/
.swiper-nav {
	height: 40px;
	width: 100%;
	background-color: #111;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
	background-image: -webkit-linear-gradient(top, #333, #111);
	background-image:    -moz-linear-gradient(top, #333, #111);
	background-image:      -o-linear-gradient(top, #333, #111);
	background-image:         linear-gradient(to bottom, #333, #111);
}
.swiper-nav .swiper-wrapper {
	margin: 0 auto;
}
.swiper-nav span {
	cursor: pointer;
	display: block;
	line-height: 40px;
	padding: 0 20px;
	color: #fff;
	text-align: center;
	border-right: 1px solid #000;
	border-left: 1px solid #333;
}
.swiper-nav span.active {
	background: #000;
}
.swiper-nav span:active {
	background: #000;
}
.swiper-nav .swiper-slide:first-child span {
	border-left: none;
}
.swiper-nav .swiper-slide:last-child span {
	border-right: none;
}

.swiper-nav1{
	height: 38px;
	width: 100%;
	border-bottom:1px solid #dedede;
	margin-bottom:15px;
	overflow:visible !important;
	background:#f1f1f1;
	position:fixed;
	top:0px;
}

.swiper-nav1 .swiper-wrapper {
	margin: 0 auto;	
}
  
.swiper-nav1 .swiper-slide{
	margin-bottom:-1px;	 
}

.swiper-nav1 a {
	cursor: pointer;
	display: block;	
	padding: 0 10px;
	color: #999;
	text-align: center; 	
  	border: 1px solid transparent;
  	border-radius: 4px 4px 0 0;	
	line-height:32px;	
	text-decoration:none;
	margin-top:4px;
	font-size:16px;
	margin-right: 2px;
}
  
.swiper-nav1 a:hover{
	border-color: #eee #eee #ddd;
}

.swiper-nav1 .active a,
.swiper-nav1 .active a:hover,
.swiper-nav1 .active a:focus {
    color: #222;
    cursor: default;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
	font-weight:bold;	
}

.swiper-pages {
	height: 100%;
}
.scroll-container {
	height: 100%;
	width: 100%;
}
.scroll-container .swiper-slide {
	width: 100%;
}
.page-inner {
	padding: 15px 5px;
}
.content.newDetail img{ display:inherit;max-width:100%; margin: 0 auto;}
.content.newDetail p{line-height: 24px; text-indent: 24px;}
.content.newDetail b{display:inline-block;text-indent: 24px; text-indent: 24px;}
.content.newDetail h3{font-weight: bold;line-height: 30px; font-size: 18px;text-align: center;}
/*3d标准选号*/
.head{width:100%;min-height: 44px; line-height: 44px;text-align: center; font-size: 16px; color:#333;  border:1px solid #eee;}
.touzhuTime{ width: 100%; height: 40px; line-height: 34px; background: #FFFFFF; color: #666; padding: 0 8px; font-size: 12px;border-bottom: 1px solid #e5e5e5;}
.touzhuTime:after{ content: ""; display: inline-block; width: 0; height: 0; border-style: solid dashed dashed dashed; border-color: #e2e2e2 transparent transparent transparent; border-width: 8px; position: absolute;top:70%; left: 50%;}
.touzhuArea_3dTit{ width: 100%;line-height: 30px; border-bottom: 1px solid #DCDCDC; padding:0 8px; overflow: hidden; color: #888; font-size: 12px;}

.touzhuArea_3d ul{width:100%;padding: 10px 8px 0;border-bottom: 1px solid #DCDCDC;border-top: 1px solid #FCFCFC; position: relative; padding-left: 40px;}
.touzhuArea_3d ul li{display:block; float:left; text-align:center; width:45px; margin-bottom:10px;}
.touzhuArea_3d ul li:nth-child(6n-5){clear: both;}

.redball_list .ball.selected{ background: #EA5E47; color:#FFFFFF;}
.ball{display: inline-block;width: 38px;height:38px;line-height: 38px;border-radius: 100%;-moz-border-radius: 100%;-webkit-border-radius: 100%;background-color: #fff; border: 1px solid #DDDDDD;font-size: 16px; color: #ea5e47;}
.redball_list .ball.disabled {background: #eaeaea;color: #999;}

.touzhuArea_3d ul:before{ display: inline-block; width:30px; color: #666666; font-size: 16px; position: absolute;top:25%; left: 13px; }
.touzhuArea_3d ul.baiwei:before{ content: "百位";}
.touzhuArea_3d ul.shiwei:before{ content: "十位";}
.touzhuArea_3d ul.gewei:before{ content: "个位";}

.footerbar{width: 100%; padding:20px 0; text-align: center;}
.footerbar a { display: inline-block; color:#FFFFFF; text-align: center;}
.btnstyle {border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;padding: 5px;}
.btnstyle.touzhu {padding: 5px 30px;background: #ea5e47;font-size: 16px; text-decoration: none;}

.sharePage{text-align: left;}
.sharePage h2{height: 30px; line-height: 30px; font-size: 14px; color: #666;padding:0px;margin: 10px 0 0px;}
.selectNum{margin-bottom: 10px;padding:0;}
.selectNum li{list-style: none;line-height: 30px; color:#888;word-break:break-all;word-wrap:break-word;}
.selectNum li em{ display: inline-block; font-style:normal;padding:0 6px;font-size: 16px; color: #333;}
.selectNum.d3 li{padding-left:20%;}

.selectNum.ssq{margin-left:10px; text-align: center;}
.selectNum.ssq li em{ font-style:normal;padding:0 6px;font-size: 16px; color: #EA5E47; }

.selectNum li em.color237cd5{color:#0e91f2;padding:0 6px;}
.shareBtn{width: 100%; text-align: center; margin-top: 20px;}
/*.shareBtn a:last-child{margin-left: 50px;}*/
/*双色球矩阵过滤*/
.font12{font-size: 12px;}
.color237cd5{ color: #0e91f2;}/*蓝色值修改*/
.touzhuTime{ width: 100%; height: 40px; line-height: 34px; background: #FFFFFF; color: #666; padding: 0 8px; font-size: 12px;border-bottom: 1px solid #e5e5e5;}
.touzhuTime:after{ content: ""; display: inline-block; width: 0; height: 0; border-style: solid dashed dashed dashed; border-color: #e2e2e2 transparent transparent transparent; border-width: 8px; position: absolute;top:70%; left: 50%;}
.touzhuArea{  padding: 2px 3%;float: left;}
.touzhuArea_tit{ height:50px;}
.touzhuArea ul{float:left; width:100%;padding: 0;}
.touzhuArea ul li{display:block; float:left; text-align:center; width:42px; margin-bottom:10px;}
.rednumbox .ball{ color: #ea5e47;}
.bluenumbox .ball{color: #0e91f2;}
.redball_list .ball.selected{ background: #ea5e47; color:#FFFFFF;}
.blueball_list .ball.selected{background: #0e91f2; color:#FFFFFF;}

.rednumbox .ball.disabled {background: #eaeaea;color: #999999;}

.submit_selectnum{text-align: center; border-bottom: 1px solid #dedede; margin-bottom: 10px;padding-bottom: 10px;}
.condition_radio{padding:10px; color: #666;}
/*消息提示*/
.layer_warp{width: 100%;height: 100%; background-color: rgba(0,0,0,.6); position: fixed;top:0;left: 0;text-align: center;}
.layer_cont{width: 96%;height: 80%;background: #FFFFFF;padding: 5px 10px;color:#666666;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;padding-bottom: 20px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  overflow-x: hidden;overflow-y: scroll;  
}
.layer_warp .title{ height: 40px; line-height: 30px; text-align: center;font-size: 18px; position: relative;margin-top: 10px; border-bottom: 1px solid #e2e2e2; color:#333;}
.closed{display: inline-block;width: 44px;height: 44px; position: absolute;top:-15px;right:-15px;}
.closed span{display: inline-block;width: 18px; height: 2px; background-color:#666;-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);}
    .closed span:last-child{position:relative;right:18px;-webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform:rotate(-135deg);
    transform: rotate(-135deg);};
/*跳出微信的菜单list*/
body.bgf5{background: #f5f5f5;}
.item-list.contact{}
.item-list{width: 100%;background: #fff;padding-left:10px;}
.item-list a{display: block;height: 40px; line-height: 40px;border-bottom: 1px solid #e5e5e5; color: #4a4a4a; text-decoration: none;}
.item-list a:last-child{border-bottom: none;}
.item-list em.icon-list{width: 30px; height: 30px; margin-right: 10px;}
	.icon-list.telIcon{background-position:0 -213px; }
	.icon-list.mailIcon{background-position:0 -244px; }

	.icon-list.cashIcon{background-position:0 -0px; }
	.icon-list.selecttoolIcon{background-position:0 -30px; }
	.icon-list.chartIcon{background-position:0 -60px; }
	.icon-list.expertIcon{background-position:0 -90px; }

	.icon-list.selecttoolIcon{background-position:0 -30px; }
	.icon-list.chartIcon{background-position:0 -60px; }
	.icon-list.expertIcon{background-position:0 -90px; }

	.icon-list.newsIcon02{background-position:0 -120px; }
	.icon-list.activeIcon{background-position:0 -152px; }
	.icon-list.lawsIcon{background-position:0 -182px; }
	.icon-list.shzrbgIcon{background-position:0 -430px;}
	

.nav-bottom{position: fixed;bottom:0;left:0;width: 100%;height: 50px;text-align: center;  background: #FFFFFF;
box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.20);padding-top:5px;font-size: 0;}
.nav-bottom a{width: 33%;display: inline-block; text-decoration: none;}
.icon-list{display: inline-block;background: url(/img/weixin/icon-list.png) no-repeat; background-size: 28px 500px; vertical-align: middle;}


.nav-bottom em.icon-list{width: 22px; height:22px; }
.nav-bottom p.text{margin:0;color: #757575;font-size: 12px;height: 20px;line-height: 22px;}
			.icon-list.newsIcon{ background-position:0 -276px; }
			.icon-list.selectNumIcon{ background-position:0 -302px; }
			.icon-list.contactIcon{ background-position:0 -326px; }
			.current .icon-list.newsIcon{ background-position:0 -354px; }
			.current .icon-list.selectNumIcon{ background-position:0 -377px; }
			.current .icon-list.contactIcon{ background-position:0 -403px; }
.nav-bottom	.current .text{ color: #D83333; font-size: 12px;} 
/*模拟开奖 topnav*/
.topNav{width: 100%;height:32px;line-height: 32px;text-align: center; padding:0px 2.5%;font-size: 0;margin: 5px auto;}
.topNav a{display: inline-block;width: 25%;border-right: 1px solid #e97927; background:  rgba(255,226,136,0.8);color:#c51c01;font-size: 14px;text-decoration: none;}
.topNav a:first-child{border-radius: 4px 0 0 4px;-webkit-border-radius: 4px 0 0 4px;-moz-border-radius: 4px 0 0 4px;}
.topNav a:last-child{border-right: none;border-radius: 0 4px 4px 0;-webkit-border-radius: 0 4px 4px 0;-moz-border-radius:0 4px 4px 0;}
.topNav a.selected{background: rgba(255,95,2,0.7);color: #ffead7;}
.topNav.yaojiang{position: fixed;top:10px;left: 0;z-index: 10;}

ul,li{margin: 0;padding: 0;}
.select_box{display: block; width:100%;position: fixed;top:100px;right: 2.5%; text-align: right;font-size: 12px;}
.select_box .lotteryType{display:inline-block;width:65px;height:26px;line-height:26px;border: 1px solid #ff6502; background: rgba(255,226,136,0.8);color:#c51c01;font-size: 14px;text-decoration: none; text-indent: 6px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;text-align: left;font-size: 12px;}
.select_box .lotteryType em.downIcon{display: inline-block;width:0px;height: 0px; position:relative;top:4px;left:0px;border-width:6px;border-color:#b86b2a transparent transparent transparent;border-style:solid dashed dashed dashed; }
.selectList{width:65px;min-height: 60px; text-align: left;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; position: absolute;top:26px;right: 0px;}
.selectList li{width:100%;height: 26px; line-height: 26px; padding-left: 6px; color: #ffead7;list-style: none;-webkit-border-radius:4px;-moz-border-radius:4px;background: rgba(255,226,136,0.8);color: #fff;border: 1px solid #ff6502; border-top: none;}		
/*.selectList li.selected{ background: rgba(255,95,2,0.7);color: #fff;}*/

/*yaohao  logo*/
@media screen and (min-width: 320px)and (max-width: 375px) {
    .yaohaoLogo{width:100%; height: 50px; margin:0 auto; position:absolute;top:300px; left:0; text-align: center;}
	.logo_ssq,.logo_3d,.logo_qlc{display:inline-block;width: 50px; height: 45px; background: url(/img/yaohao_logo.png) no-repeat;  background-size: 52px 143px;}
	.logo_ssq{ background-position: 0px 0px;}
	.logo_qlc{ background-position: 0px -50px;}
	.logo_3d{ background-position: 0px -95px;}	
}
@media screen and (width: 360px){.yaohaoLogo{top:340px;}}
@media (min-width: 370px) and (max-width: 640px){
	.yaohaoLogo{width:100%; height: 60px; margin:0 auto; position:fixed;top:350px; left:0; text-align: center;}
	.logo_ssq,.logo_3d,.logo_qlc{display:inline-block;width: 60px; height: 57px; background: url(/img/yaohao_logo.png) no-repeat; background-size: 60px 165px;}
	.logo_ssq{ background-position: 0 0;}
	.logo_qlc{ background-position: 0 -52px;}
	.logo_3d{ background-position: 0 -110px;}
	
}
/*提示层*/
.popUp_layer{width: 100%;height: 100%; background: rgba(0,0,0,0.6);position: fixed;top:0;left: 0; z-index: 11;}
.popUp_layerCon{width:96%;margin:0 auto;background: #f9f9f9;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; padding-bottom: 20px;position:absolute; 
	  top:50%;
	  left:50%;
	  border-radius: 5px;
	  -webkit-transform:translate(-50%,-50%);
	  -moz-transform:translate(-50%,-50%);
	  transform:translate(-50%,-50%);}
.popUp_layerCon h2.tit{width:100%;height:48px;line-height:48px;background:#e96b27; border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0; font-size: 18px;color: #fff; text-align: center;margin: 0;position: relative;}
.popUp_layerCon h2.tit .closed{top:-6px;right: -6px;}
.popUp_layerCon h2.tit .closed span{background-color: #fff;}
.popUp_layerCon .lotteryResult{width: 100%;padding:15px 8px;}
.lotteryResult ul{width: 92%;margin: 0 auto;}
.lotteryResult li{display: inline-block;width:30px;height:30px;line-height:30px;float: left;margin-right: 8px;border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;text-align: center;color: #fff; font-size: 14px;}
.lotteryResult li.redNum{background: #e96b27;}
.lotteryResult li.blueNum{background: #2e86ea;}
.popUp_layerCon a.sharebtn{display: block;width:80px;height:40px;margin:20px auto; line-height:40px;color:#fff;font-size:18px;text-decoration: none; background:#e96b27; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; text-align: center; }
/*share lead*/
.android_shareLead{width:100%;height:100%;padding:16px 16px 0 10%;background: #000;position: fixed;top:0; left: 0;z-index: 12;overflow: auto; text-align: right;}
.android_shareLead img{max-width: 100%;}
.ios_shareLead{width:100%;height:100%;background: #FFF;padding:0 4%;position: fixed;top:0; left: 0;z-index: 12;padding: 12px;overflow: auto;}
.ios_shareLead img{max-width: 100%;}
.btnClosed{display: block;width:160px;height:40px;margin:30px auto; line-height:40px;color:#fff;font-size:18px;text-decoration: none; background:#D83333; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; text-align: center; }

.loadMoreBtn{display: block; width: 150px; height: 30px; line-height: 30px; text-decoration: none; color: #999; margin: 0 auto; border: 1px solid #ddd; text-align: center;}
.loadMoreBtn:hover, .loadMoreBtn:visited, .loadMoreBtn:active{color: #999; text-decoration: none;}
/*社会责任报告*/
.reportPage{max-width: 640px;margin:0 auto;}
.reportPage img{display: block;max-width: 100%;border:none;}
.catalogSection{width:100%;padding:10px 4%;}
.catalogSection h1{font-size: 40px;font-weight: 800;margin: 80px 0 60px;}
.catalogSection a{display: block;line-height: 30px; text-indent: 10px;font-weight: 500; text-decoration: none;}

.catalogSection h2{font-weight: 700;font-size: 30px;}
.catalogSection h2 span.chapterIcon{display: inline-block;width: 50px;height: 70px;border-radius:0 20px 20px 0; padding-top:30px;  text-align: center;color:#fff;font-size: 26px;margin-right: 6px;}

.catalogSection1{color:#f58221;}
.catalogSection a{color:#f58221; }
.catalogSection1 h2.chapter span.chapterIcon{background: #f58221;}

.catalogSection2{color:#f05a73;}
.catalogSection2 a{color:#f05a73; }
.catalogSection2 h2.chapter span.chapterIcon{background: #f05a73;}

.catalogSection3{color:#a64686;}
.catalogSection3 a{color:#a64686; }
.catalogSection3 h2.chapter span.chapterIcon{background: #a64686;}

.catalogSection4{color:#0095da;}
.catalogSection4 a{color:#0095da; }
.catalogSection4 h2.chapter span.chapterIcon{background: #0095da;}

.catalogSection5{color:#a7ce39;}
.catalogSection5 a{color:#a7ce39; }
.catalogSection5 h2.chapter span.chapterIcon{background: #a7ce39;}

.chapterbar{width: 100%;min-height: 70px;position: fixed;bottom:0;left:0; /*text-align: center;*/ background: rgba(0,0,0,.6);padding:10px 0px 0px 12px;}
.chapterbar a{display: inline-block;width: 90px;height: 26px;line-height: 26px;text-align: center; margin-right: 10px;text-decoration: none;border-radius: 5px;color:#fff;margin-bottom:6px;}
.chapterbar a:first-child{background: #f58221; margin-bottom:10px;}
.chapterbar a:nth-child(2){background: #f05a73; margin-bottom:10px;}
.chapterbar a:nth-child(3){background: #a64686; margin-bottom:10px;}
.chapterbar a:nth-child(4){background: #0095da; }
.chapterbar a:nth-child(5){background: #a7ce39; }

